@import "colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFang-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title {
  text-align: center;
  font-family: 'PingFang SC', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.navi-title {
  text-align: center;
  font-family: 'PingFang SC', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px; /* 200% */
}

.sub-title {
  text-align: center;
  font-family: 'PingFang SC', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px; /* 200% */
}

.text-1 {
  text-align: center;
  font-family: 'PingFang SC', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px; /* 125% */

  word-break: break-all;
}

.text-2 {
  font-family: 'PingFang SC', sans-serif;
  font-size: 12px;
  font-weight: 400;

  word-break: break-all;
}

.text-3 {
  font-family: 'PingFang SC', sans-serif;
  font-size: 8px;
  font-weight: 400;
  word-break: break-all;
}


.tip-text {
  font-family: 'PingFang SC', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 137.143% */
}

.badge-text {
  font-family: 'PingFang SC', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.shadow-custom {
  box-shadow: 0px 15px 30px 0px rgba(10, 20, 69, 0.10);
}